# Authentication
ADMIN_EMAIL=op://Personal/Secrets/PHOTO_BLOG/ADMIN_EMAIL
ADMIN_PASSWORD=op://Personal/Secrets/PHOTO_BLOG/ADMIN_PASSWORD
AUTH_SECRET=op://Personal/Secrets/PHOTO_BLOG/AUTH_SECRET

# Database
POSTGRES_URL=op://Personal/Secrets/PHOTO_BLOG/POSTGRES_URL

# Cloudflare R2 Storage
CLOUDFLARE_R2_ACCESS_KEY=op://Personal/Secrets/PHOTO_BLOG/CLOUDFLARE_R2_ACCESS_KEY
CLOUDFLARE_R2_SECRET_ACCESS_KEY=op://Personal/Secrets/PHOTO_BLOG/CLOUDFLARE_R2_SECRET_ACCESS_KEY